

      html {
        height: 100%;
        width: 100%;
      }

      body {
        align-items: center;
        --def: #96b7c4;
        --inv: rgb(226, 225, 225);
        display: block;
        font-family: 'Open Sans', serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        -webkit-font-smoothing: antialiased;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
      }

      

      .vorod {

      display: block;
      position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      overflow-x: auto;
      overflow-y: auto;
      background-color: rgba(255, 255, 255, 1);
      width:100%;
    height: 768.00px;

}

.vorod .rectangle5 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 0.7599999904632568;
      cursor: default;
      background-color: rgba(193, 208, 221, 0.611764705882353);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-style: none;
      border-width: 1.00px;
      border-color: rgba(112, 112, 112, 1);
      border-top-width: 1.00px;
      width: 562.00px;
    height: 768.00px;
    left: 402.00px;

}

.vorod .kk {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 0);
      border-color: rgba(112, 112, 112, 1);
      border-style: none;
      border-width: 1.00px;
      width:100%;
    height: 768.00px;

}

.vorod .rectangle1 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 0.7599999904632568;
      cursor: default;
      background-color: rgba(193, 208, 221, 0.611764705882353);
      border-color: rgba(112, 112, 112, 1);
      border-style: none;
      border-width: 1.00px;
      width: 40%;
    height: 768.00px;
    left:30%;

}

.vorod .jj {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 0);
      border-color: rgba(112, 112, 112, 1);
      border-style: none;
      border-width: 1.00px;
      width: 20%;
    height: 130.00px;
    left: 41.5%;
    top: 19.00px;

}

.vorod .xb8754b7d {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      background-color: rgba(255, 255, 255, 0);
      text-align: left;
      letter-spacing: 2.10px;
      color: rgba(255, 255, 255, 1);
      -webkit-text-stroke: unset;
      font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: W_saeed, Arial;
      text-decoration: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 290.00px;
    height: 55.00px;
    left:40.5%;
    top: 206.00px;

}

.vorod .rectangle2 {
  text-align: right;
  font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: W_arshia, Arial;
      text-decoration: none;
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: text;
      background-color: rgba(255, 255, 255, 0.8196078431372549);
      border-color: rgba(112, 112, 112, 1);
      border-style: none;
      border-width: 1.00px;
      border-radius: 15.00px;
color: rgb(97, 97, 97);
      width: 35%;
    height: 73.00px;
    left: 31.7%;
    top: 388.00px;

}
.vorod .rectangle2:focus{
  outline: none;
}
.vorod .rectangle4 {
  text-align: right;
  font-size: 30.00px;
      font-weight: 400;
    font-style: normal;
      font-family: W_arshia, Arial;
      text-decoration: none;
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: text;
      background-color: rgba(255, 255, 255, 0.8196078431372549);
      border-color: rgba(112, 112, 112, 1);
      border-style: none;
      border-width: 1.00px;
      border-radius: 15.00px;
      width: 35%;
    height: 73.00px;
    left: 31.7%;
    top: 518.00px;
    color: rgb(97, 97, 97);

}
.vorod .rectangle4:focus{
  outline: none;
}
.vorod .emailSquareLine1edbff46 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      fill: rgba(161, 161, 161, 1);
      stroke: rgba(161, 161, 161, 1);
          stroke-width: 1.00px;
          stroke-linecap: butt;
      width: 42.50px;
    height: 42.50px;
    left: 451.80px;
    top: 403.25px;

}

.vorod .private {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      fill: rgba(161, 161, 161, 1);
      box-shadow: none;
      width: 2.5rem;
    height:2.5rem;
    left: 34%;
    top: 532.85px;

}
#private2 {
  position: absolute;
    box-sizing: content-box;
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    fill: rgba(161, 161, 161, 1);
    box-shadow: none;
    width: 2.5rem;
  height: 2.5rem;
  left: 34%;
  top: 405px;
}

.btn {
	position: absolute;
	padding: 1.4rem 4.2rem;
	padding-right: 3.1rem;
	font-size: 26px;
	color: var(--inv);
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);
	cursor: pointer;
	user-select: none;
  width: 298.00px;
  height: 64.00px;
  left: 534.00px;
  top: 644.00px;
  justify-content: center;
	align-items: center;
}
.btn:before,
.btn:after {
	content: "";
	position: absolute;
	transition: inherit;
	z-index: 10;
}

.btn:hover {
	color: var(--def);
	transition-delay: 0.5s;
}

.btn:hover:before {
	transition-delay: 0s;
}

.btn:hover:after {
	background: var(--inv);
	transition-delay: 0.35s;
}
.from-center:before {
	top: 0;
	left: 50%;
	height: 100%;
	width: 0;
	border: 1px solid var(--inv);
	border-left: 0;
	border-right: 0;
}

.from-center:after {
	bottom: 0;
	left: 0;
	height: 0;
	width: 100%;
	background: var(--inv);
}

.from-center:hover:before {
	left: 0;
	width: 100%;
}

.from-center:hover:after {
	top: 0;
	height: 100%;
}
*, *:before, *:after {
	box-sizing: border-box;
}


.vorod .xab94e73e {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      text-align: center;
      letter-spacing: 1.82px;
      color: rgb(75, 75, 75);
      -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
      font-size: 26.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Samim, Arial;
      text-decoration: none;
      overflow-x: unset;
      overflow-y: unset;
      width:auto;
      height: 38.00px;
      left: 35%;
      top: 9.04px;
      z-index: 11;

}

.vorod .x516bdfe7 {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0.28px;
      color: rgba(54, 54, 54, 1);
      -webkit-text-stroke: unset;
      font-size: 14.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Samim, Arial;
      text-decoration: none;
      box-shadow: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 149.00px;
    height: 22.00px;
    left: 609.00px;
    top: 707.00px;

}

.vorod .x {
    position: absolute;
      box-sizing: content-box;
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: pointer;
      background-color: rgba(255, 255, 255, 0);
      text-align: center;
      letter-spacing: 0.28px;
      color: rgba(54, 54, 54, 1);
      -webkit-text-stroke: unset;
      font-size: 14.00px;
      font-weight: 400;
    font-style: normal;
      font-family: Samim, Arial;
      text-decoration: none;
      overflow-x: unset;
      overflow-y: unset;
      white-space: pre;
      width: 195.00px;
    height: 22.00px;
    left: 586.00px;
    top: 735.00px;

}

