{%load static%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>




    <title>تکمیل فرآیند</title>

    <link rel="stylesheet" href="{% static 'fishstatic/css/password_reset_confirm.css' %}">
</head>

<body>
    <div data-layer="a9aa614c-ae1d-41d9-bb8d-88658dafc6e4" class="vorod">
        <div data-layer="6ea3eb21-475b-48c1-a5f6-f5342c90e66d" class="rectangle5"></div>
        <img src="{% static 'fishstatic/img/johnSekutowski3nalufmygSUnsplash.png' %}" data-layer="a410f38c-1e67-4ae8-9a9c-1fb5320420a7" class="kk">

        <div style="position: absolute;width:40%;height:25%;background-color:rgb(212, 212, 212);left:30%;top:20%;opacity:0.75;border-radius:25px;">
            <a href="/accounts/login/"><button style="position: relative;top:65%;left:42%;border-style:solid;border-width: 1px;border-color:rgb(18, 20, 20);width:100px;height:50px;font-size:22px;background-color:rgb(63, 60, 60);color:linen;border-radius:5px;"  >ورود</button></a>
        </div>
        <h4 style="font-family: samim,Aria;text-align:right;padding:40px;color:rgb(58, 58, 58);line-height:50px;position: absolute;left:30%;top:20%;"> فرآیند تغییر رمز با موفقیت تکمیل شد. اکنون می‌توانید وارد شوید</h4>




    </div>






    <!-- jq cdn -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>