{%load static%}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>




    <title>taghir ramz</title>

    <link rel="stylesheet" href="{% static 'fishstatic/css/taghirRamz.css' %}">
</head>

<body>
    <div data-layer="52d2c705-6c9d-4d5d-bd88-f7f70fb2ecc9" class="taghirRamz">
        <img src="{% static 'fishstatic/img/johnSekutowski3nalufmygSUnsplash.png' %}" data-layer="9fb3fcaf-76fb-4d55-8a30-0af47c471d5a" class="kk">
        <div data-layer="71da2896-e048-4fb2-9909-690f6b397a9d" class="rectangle1"></div>
        <div data-layer="58ae3413-dba1-4b89-8bec-f7342b8d6ca4" class="mypdf2"></div>
        <h6 data-layer="605b9e6b-15e3-4ab2-bb7a-f08219ff49eb" class="xc569c0a1">ایجاد رمز عبور جدید</h6>
        <a href="#">
            <div class="btn from-center">
                <div data-layer="58d7e52f-9006-4033-8a87-bea8918a7a9e" class="xaf8fd048">تایید</div>
            </div>
        </a>
        <div data-layer="e2b62281-7483-4ff0-a37a-ddd237155263" class="rectangle11"></div>
        <input type="text" data-layer="16843cc6-585c-4701-bdc3-4fd6790d7074" class="x08c887e41" placeholder="0" maxlength="1"/>
        <input type="text" data-layer="5c2041ca-11c7-44f8-9203-a26668a10509" class="x0ad075c1a" placeholder="0" maxlength="1" />
        <input type="text" data-layer="8f39af05-260e-44f8-a913-654ebcfcce3e" class="x01f696ab0" placeholder="0" maxlength="1" />
        <input type="text" data-layer="1308f34c-679a-40f7-9668-c617cdf3f51a" class="x0b7f93c39" placeholder="0" maxlength="1" />
        <input type="text" data-layer="0f33334d-aca4-4713-aeb4-1a9de96c3091" class="x0" placeholder="0" />
        <div data-layer="3dfebc31-ac55-4717-96ee-8b726fa49141" class="x5a9e9818">-</div>
        <div data-layer="a7cbd705-97f9-4015-8c2a-756096820400" class="xc0e1130c">-</div>
        <div data-layer="b692e90c-7b05-47ea-9ac1-75a9e337f69b" class="xb42b6f77">-</div>
        <div data-layer="1ecd5ad0-82e9-4da9-9d3f-8f149dc11fbd" class="x0a1b2931">-</div>
        <div data-layer="9b0fdfe6-11ac-4258-86b3-1484c23bd004" class="xdd1460e9">کد ارسال شده را وارد نمایید</div>
        <a href="#">
            <div data-layer="0e21ebf4-3e0a-4146-95c5-b50e0c4c7b9f" class="x">ارسال مجدد کد</div>
        </a>
    </div>






    <!-- jq cdn -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>